.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav-menu {
  display: flex;
  width: 60%;
  height: 40%;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  background: var(--color-dark);
  padding: var(--card-padding);
  width: 30%;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
}

.card:hover{
  box-shadow: none;
}

.card i {
  background: var(--color-primary);
  padding: 0.77rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

.card h3 {
  margin: 1rem 0 0.6rem;
  font-size: 2rem;
  color: var(--color-white);
}

.card a{
  width: 100%;
  height: 100%;
  text-align: center;
}